#top {
   /* kinda the header */
    border: 1px solid black;
    padding: 25px;
    
    background-repeat: round;
    text-align: center;
    text-decoration: aqua;
    text-shadow: 100ch;
  }
 /* fonts, color and background */
  h1 {
    color: #000000;
    font-family: Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    }

    h2{
      color: #a01a1a;
    }

    p{
      font-size: 60px;
      color: #a01a1a;
    }


    body{
      background: url("https://i.ibb.co/J3T2SxN/dice-gif.gif"); 
    }

#button{
    text-align: center;
    font-size: 60px;
    }

#sided {
    font-size: 40px;
}
 /* top of page */
#header {
    border: 1px solid black;
    padding: 50px;
    
    background-repeat: round;
    text-align: center;
    text-decoration: aqua;
    text-shadow: 100ch;
  }
   /* 3 of these for players and instructions*/
  .column {
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    
  }
  
  /* blends columns*/
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
   /* W3SCHOOLS */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  